
node_modules
__pycache__
.ipynb_checkpoints
.DS_Store
.venv
.vscode
.env
dist
Makefile.local
docker.config
research
build
cache
deploy
.codebuddy/
.vercel
server/static/
server/logs/
yarn.lock
.playwright-cli/
output/
.pytest_cache/
